* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    position: relative;
    top: 0px;
    color: rgb(121, 9, 9);
}

h1 {
    position: relative;
    top: 50px;
    bottom: 0px;
    color: rgb(203, 71, 71);
    font-weight: 700;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    background: papayawhip;
    min-height: 100vh;
}

main, header, footer {
    padding: 20px;
    color: magenta;
}

header, footer {
    line-height: 60px;
}

q {
    color:brown;
}

strong {
    color:rgb(4, 134, 0); 
}

/*p {
    width: 700px;
}*/

div {
    width: 1000px;
}

.box {
    position: relative;
    top: 50px;
    left: 150px;
    width: 900px;
    background-color:rgb(205, 231, 204)
}

img {
    position: relative;
    top: 50px;
    left: 250px;
    width: 700px;
    height: auto
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.item {
    background-color: rgb(205, 205, 240);
    width: 700px;
}

@media (max-width: 600px) {
    .flex-container {
        background: magenta;
    }
    body {
        background: green;
    }
}