h3 {
    position: relative;
    top: 0px;
    left: 400px;
    color: rgb(121, 9, 9);
}

h1 {
    position: relative;
    top: 50px;
    bottom: 100px;
    left: 300px;
    color: rgb(203, 71, 71);
    font-weight: 700;
}

body {
    font-family: 'Montserrat', sans-serif;
}

q {
    color:brown;
}

strong {
    color:rgb(4, 134, 0); 
}

p {
    width: 700px;
}

div {
    width: 900px;
}

.box {
    position: relative;
    top: 50px;
    left: 150px;
    width: 700px;
    background-color:rgb(205, 231, 204)
}

img {
    position: relative;
    top: 50px;
    left: 300px;
    width: 400px;
    height: auto
}