* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.flex-container {
    display: flex;
    width: 100%;
  }
  
  .column {
    width: 50%;
    height: 100px;
    animation: 3s Wonderful;
    text-align: center;
  }
  
  .left {
    background: magenta;
  }
  
  .right {
    background: teal;
  }

  .left-center {
    background: rgb(214, 145, 214);
  }

  .right-center {
    background: rgb(146, 220, 220);
  }

  @keyframes Wonderful {
      0% {
          background-color: tomato;
      }
      50% {
          background-color: pink;
      }
      100% {
          background-color: blanchedalmond;
      }
  }