* {
    margin:0;
    /*padding: 0;*/
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: rgb(229, 229, 229);
    animation: 3s BackyColor;
}

.flex-container {
    display: flex;
    width: 100%;
  }
  
  .filters,
  .filtersdesert,
  .list {
    padding: 20px;
    border: 1px solid black;
    width: 100%;
  }

  .filter-btn {
    color: rgb(7, 118, 118);
    background-color: aliceblue;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: none;
  }

  .filter-btn-desert {
    color: rgb(7, 118, 118);
    background-color: aliceblue;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: none;
  }

  .filter-btn-desert.active-desert {
    border-color: magenta;
    background: aqua;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    list-style-type: none;
    border:  5px solid rgb(228, 226, 201);
    background-color:rgb(238, 238, 232);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
  }

  img {
    width: 300px;
}

  @media (max-width: 160px) {
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  
  
  /*trying to flip an image to reveal its location
  
  .flipping {
    transition: transform 1s;
  	transform-style: preserve-3d;
  }

  .flipping__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.flipping__face--front {
    background: red;
}

.flipping__face--back {
    background: blue;
    transform: rotateY( 180deg );
}

.flipping.is-flipped {
    transform: rotateY(180deg);

*/



  .left {
    background: rgba(225, 240, 225, 0.236);
  }
  
  .right {
    background: rgba(255, 235, 205, 0.236);
    direction: rtl;
  }

  .hugeimage {
    padding: 0;
    margin: 0 auto;
    width: 2500px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    opacity: 100%;
  }

  .gradient-overlay {
    position: relative;
  }

  .gradient-overlay::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, black, white);
    opacity: 70%;
  }

  .column {
    width: 750px;
    height: 50px;
    font-family: 'Roboto Serif', serif;
    font-size: xx-large;
    animation: 3s Wonderful;
  }

  .left {
    position: fixed;
    top:10px;
    left:0px;
  }
  
  .right {
    position: fixed;
    top: 10px;
    left: 750px;
    direction: rtl;
  }

  .top-text {
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-in 0.1s;
  }

  .top-text:hover {
    color:rgb(80, 101, 75);
  }

  .major-text {
    position: absolute;
    top: 350px;
    left: 500px;
    font-size: 100px;
    color: white;
  }

  .major-text-continue {
    position: absolute;
    top: 500px;
    left: 400px;
    width: 700px;
    font-size: 30px;
    color: white;
  }

  .below {  
      width: 600px;
      padding:1%;
      background:rgba(234, 236, 234, 0.709);
      border-color: black;
      animation: 3s Wonderful;
  }

  .market {
    opacity: 50%;
    transition: opacity 0.1s ease-in 0.1s;
  }

  .market:hover {
    opacity: 100%;
  }

  /*.vertical {
    width: 200px;
  }

  .horizontal {
    width: 400px;
  }*/

  .normal-text {
    color: grey;
    transition: color 0.1s ease-in 0.1s;
  }

  .normal-text:hover {
    color:rgb(85, 136, 72);
  }

  em {
    color:rgb(176, 176, 176);
  }

  /*.market:hover{
    scale: 0.5x;
  }*/

  @keyframes Wonderful {
    0% {
        background-color: rgb(0, 0, 0);
    }
    50% {
      background-color: rgb(96, 96, 96);
    }
    100% {
      background-color: rgb(192, 192, 192);
    }
}

@keyframes BackyColor {
  0% {
    background-color: rgb(0, 0, 0);
  }
  50% {
    background-color: rgb(96, 96, 96);
  }
  100% {
    background-color: rgb(192, 192, 192);
  }
}