* {
    box-sizing: border-box;
    margin: 0;
    /*   padding: 0; */
  }
  
  html,
  body {
    height: 100vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .filters,
  .list {
    /*   background-color: #f15b31; */
    padding: 20px;
    /*   display: flex; */
    border: 2px solid #141414;
    width: 100%;
  }
  
  .filter-btn {
    color: white;
    background-color: #f15b31;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
  }
  
  .filter-btn.active {
    border-color: #16b5ef;
    background: #16b5ef;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  li {
    list-style-type: none;
    border: 2px solid #141414;
    padding: 10px;
    margin: 10px;
  }
  
  img {
    width: 300px;
    height: 350px;
  }
  
  @media (max-width: 160px) {
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }